@charset "UTF-8";
.card{
	height: 250px;
	margin-bottom: 30px;

}
.card-conteiner{
	overflow: hidden;
	width: 100%;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-title{
	height: 10vh;
	display: flex;

}


.color-name-casos{
	color: #1A3C40;
}

.color-name-resolvidos{
	color: black;
}



.text-bold{
	font-weight: 800;
}

.title-larger{
	text-align: center;
	display: flex;
	margin: auto auto;
}
.conteiner-title{
	display: flex;
	margin: auto auto;
	flex-direction: column;

}
.conteiner-title:after{
	content: "";
	width: 150px;
	height: 2.5px;
	background-color: #ffffff;
	text-align: center;
	display: flex;
	margin: auto auto;
}

.conteiner-title-resolvidos:after{
	content: "";
	width: 150px;
	height: 2.5px;
	background-color: #666666;
	text-align: center;
	display: flex;
	margin: auto auto;
}

.section-encontrados{
	background-color: #1A3C40;
}
.section-resolvidos{
	background-color: #dcedc2;
}

.section-cards{
	width: 100%;
	min-height: 80vh;
}

.tamanho{
	width: 50px;
	height: 50px;
	border: 20px;
}
.card-image{
	height: 250px;
	width: 100%;
}

.card-texto{
	background-color: rgba(26,60,64,.8);
	position: absolute;
	top: 70%;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}
.card-text-encontrado{
	width: 70%;
	font-size: 15px;
}
.card-date-position{
	font-size: 12px;
	width: 30%;
	text-align: right;
}
.card-texto:hover{
	top: 0;
	transition: all 0.5s;
}
.info-complete{
	display: none;
	flex-direction: column;
	display: flex;
	margin: 20px;
	font-size: 15px;
}

.card-texto:hover .card-date{
	display: none;
}

.card-texto:hover  .info-complete {
	display: flex;
}
.container-btn-card{
	display: flex;
	position: relative;
	margin: 20px;
}
.card-date{
	display: flex;
}

.date{
	display: flex;
	margin: auto 20px 20px auto;
	font-size: 13px;
	font-weight: bold;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	right: 0;
}

.btn-devolver{
	border: 2px solid #ffffff;
	position: relative;
	padding: 5px 40px;
	border-radius: 4px;
	display: flex;
	margin: auto auto;
}

.btn-devolver:hover{
	transition: all 0.2s;
	font-weight: bold;
}

.activator{
	width: 100%;
}

.name-item .info{
	display: flex;
	top: 0;
	left: 0;

}

.name-item{
	font-weight: bold;
	font-size: 15pt;
}

.info{
	font-size: 12pt;
	padding: 7px 15px;
}

.edit-delet{
	position: absolute;
	top: 0;
	right: 0;
}


