@charset "UTF-8"

*{
	margin: 0px;
	padding: 0px;
}

.bg-modal{
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .5);
	z-index: 90;
}
.conteiner-modal{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	transition:  all .5s;
    display: none;
} 

.formConfig{
	text-align: center;
	line-height: 2;
	color: #fff;
	position: relative;

}


form .fechar{
	padding: 1px 10px;
	background-color: #fff;
	color: #000;
	top:0;
	right: 0;
	position: absolute;
}

form .fechar:hover{
	background-color: #ff0000;
	color: #fff;
	cursor: pointer;
}
.bg-modal-card{
	position: fixed;
	display: none;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .5);
}
.modal-update{
	width: 40%;
	background-color: #2E8B57;
}
.conteiner-modalheader{
	width: 100%;
	height: 100vh;
	margin: auto auto;
	position: absolute;
	padding: 50px;
	margin-top: 20vh;
	display: none;
	z-index: 92;
}
.conteiner-update{
	width: 100%;
	height: 100vh;
	margin: auto auto;
	position: absolute;
	padding: 50px;
	margin-top: 20vh;
	display: none;
	z-index: 92;
}
.modal-header{
	width: 40%;
	background-color: #2E8B57!important;
}
.img-modal{
	width: 60px;
	height: 60px;
}