@charset "UTF-8"

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#slider{
	width: 800px;
	height: 300px;
	background-color: #ccc;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
}

#slider ul{
	float: right;
	width: 2400px;
	list-style-type: none;

}

#slider li{
	float: right;
	width: 800px;
	height: 300px;

}

#slider li.one{background-color: #069;}

#slider li.two{background-color: #036;}

#slider li.three{background-color: #066;}

#slider #prev, #slider #next{
	width: 30px;
	height: 60px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	background-color: #fff;

}

#slider #next{
	right: 0;
}
#slider #prev{
	left: 0;
}