@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#slider{
	flex-direction: column;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-image: url('../imagens/bg-header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	align-content: center;

}
.conteiner-header{
	display: flex;
	flex-direction: column;
	margin: auto auto;
}
.conteiner-header div{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto auto;

}
#traco:after{
	margin: 10px 0;
	content: '';
	width: 100px;
	height: 2px;
	background-color: #ffffff;
}
h1{
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	font-size: 42px;
}

#btn-header{
	color: #ffffff;
	display: flex;
	margin: auto auto;
	border: 1.5px solid #1A3C40;
	border-radius: 4px;
	padding: 10px 60px;
	cursor: pointer;
	font-size: 20px;
}

#btn-header:hover{
	border: 1.5px solid #fff;
	transition: all 0.2s;
}